<!DOCTYPE html>
<html>
  <head>
    <title>StarterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <p>
      <!-- if logged in -->
      <% if @current_user %>
        Logged in as: <%= @current_user.first_name%>
        <%= button_to "Logout", "/sessions/logout", method: :delete %></p>
      <% else %>
        <a href="/sessions/new">Login</a>
        |
        <a href="/users/new">Sign Up</a>
      <% end %>
    </p>

    <p>
      <%= flash[:notice] %>
    </p>

    <%= yield %>
  </body>
</html>
